/*general styles*/

body {
    background-image: url("../images/Shawarma\ plaza\ interior.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    font-family: Orbitron;
    color: #fff;
    box-sizing: border-box;
    text-shadow: 1px 1px 20px rgb(75, 255, 75);
    margin: 0;
}

*::selection {
    color: rgb(200, 200, 255);
    text-shadow: 1px 1px 15px rgb(0, 0, 255);
}

/*/header/*/

.fa-bars {
    display: none;
}

#header-btn {
    display: none;
}

#close {
    background-color: transparent;
    border: none;
}

a:hover {
    color: rgb(255, 255, 200);
    text-shadow: 1px 1px 20px rgb(255, 255, 0);
    transition: 400ms;
}

a:active {
    color: rgb(255, 200, 200);
    text-shadow: 1px 1px 20px rgb(255, 0, 0);
    transition: 1ms;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plaza-logo {
    width: 100px;
    height: 100px;
}

.logo-title {
    font-size: 30px;
}

.link-box {
    display: flex;
    gap: 20px;
}

.nav_link {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
}

.main-title {
    text-align: center;
}

.main-title {
    font-size: 60px;
    margin: 200px 0;
    margin-bottom: 500px;
}

/*Menu general*/

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 25px;
    width: 70%;
    border: 2px solid rgb(225, 225, 255);
    box-shadow: 0 0 20px rgb(205, 200, 255), 0 0 20px rgb(205, 200, 255) inset;
    border-radius: 20px;
    background-color: rgba(5, 0, 30, 0.5);
    backdrop-filter: blur(10px);
}

.menu-headline {
    font-size: 40px;
}

.MENU {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.category1 {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease max-height;
}

.category1.active {
    max-height: 1800px;
}

.category-title {
    display: block;
    width: 30vh;
    font-size: 30px;
    margin: 20px;
    padding: 5px 5px;
}

.category-title:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 300ms;
}

.dish {
    display: flex;
    justify-content: space-between;
    height: 300px;
    font-size: 1.6em;
    padding: 20px;
}

.dish-image {
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.dish-title {
    padding: 10px;
}

.dish-overview {
    padding: 10px;
    padding-right: 20px;
}

.dish-price {
    text-align: end;
    padding-right: 40px;
    margin: 40px;
}

/*spans*/

.serve-type {
    color: rgb(255, 255, 170);
    text-shadow: 0 0 20px rgb(255, 164, 52);
}

.mild {
    color: rgb(255, 195, 195);
    text-shadow: 0 0 2px rgb(255, 155, 155);
}

.spicy {
    color: rgb(255, 100, 100);
    text-shadow: 0 0 2px rgb(255, 200, 200);
}

.nuclear {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

/*menu specific*/

.meat-dishes .dish,
.primary {
    border: 2px solid rgb(255, 225, 225);
    box-shadow: 0 0 20px rgb(255, 255, 200), 0 0 20px rgb(255, 255, 200) inset;
    border-radius: 20px;
    background-color: rgba(55, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.meat-dishes .dish-title,
.meat-dishes .dish-overview,
.meat-dishes .dish-price,
.primary {
    text-shadow: 0 0 20px rgb(255, 255, 100);
}

.meat-dishes .dish-image {
    border: 2px solid rgb(255, 225, 225);
    box-shadow: 0 0 20px rgb(255, 255, 170);
}

.vegeterian .dish,
.vegan {
    border: 2px solid rgb(225, 255, 225);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(200, 255, 200), 0 0 20px rgb(200, 255, 200) inset;
    background-color: rgba(0, 55, 0, 0.5);
    backdrop-filter: blur(10px);
}

.vegeterian .dish-title,
.vegeterian .dish-overview,
.vegeterian .dish-price,
.vegan {
    text-shadow: 0 0 20px rgb(25, 255, 25);
}

.vegeterian .dish-image {
    border: 2px solid rgb(225, 255, 225);
    box-shadow: 0 0 20px rgb(200, 255, 200);
}

.desserts .dish,
.sweets {
    border: 2px solid rgb(240, 225, 255);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(225, 85, 255), 0 0 20px rgb(225, 85, 255) inset;
    background-color: rgba(50, 0, 55, 0.5);
    backdrop-filter: blur(10px);
}

.desserts .dish-title,
.desserts .dish-price,
.desserts .dish-overview,
.sweets {
    text-shadow: 0 0 20px rgb(255, 60, 255);
}

.desserts .dish-image {
    border: 2px solid rgb(240, 225, 255);
    box-shadow: 0 0 20px rgb(225, 85, 255);
}

.drinks .dish,
.refresh {
    border: 2px solid rgb(225, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(85, 255, 255), 0 0 20px rgb(85, 255, 255) inset;
    background-color: rgba(100, 100, 255, 0.5);
    backdrop-filter: blur(5px);
}

.drinks .dish-title,
.drinks .dish-price,
.drinks .dish-overview,
.refresh {
    text-shadow: 0 0 20px rgb(25, 255, 255);
}

.drinks .dish-image {
    border: 2px solid rgb(225, 255, 255);
    box-shadow: 0 0 20px rgb(85, 255, 255);
}

.primary:hover {
    box-shadow: 0 0 20px rgb(255, 255, 120), 0 0 20px rgb(255, 255, 120) inset;
    background-color: rgba(208, 0, 0, 0.75);
}

.vegan:hover {
    box-shadow: 0 0 20px rgb(100, 255, 100), 0 0 20px rgb(100, 255, 100) inset;
    background-color: rgba(0, 100, 0, 0.75);
}

.sweets:hover {
    box-shadow: 0 0 20px rgb(215, 35, 255), 0 0 20px rgb(215, 35, 255) inset;
    background-color: rgba(110, 0, 120, 0.75);
}

.refresh:hover {
    box-shadow: 0 0 20px rgb(170, 255, 255), 0 0 20px rgb(170, 255, 255) inset;
    background-color: rgba(100, 255, 255, 0.75);
}

/*contacts styles*/

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-cards {
    display: flex;
}

.number-card,
.media-title {
    padding: 20px;
    background-color: rgba(10, 0, 60, 0.5);
    box-shadow: 0 0 20px rgb(75, 175, 255), 0 0 20px rgb(75, 175, 255) inset;
    backdrop-filter: blur(10px);
    border: 2px solid #4eb8ff;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

.media-cards {
    display: flex;
    flex-direction: row;
    gap: calc(10vw - 20px);
    font-size: 100px;
}

/*credits footer*/

footer {
    background-color: rgba(3, 0, 25, 0.7);
    box-shadow: 0 0 20px rgb(75, 255, 255);
    backdrop-filter: blur(10px);
    border-top: 2px solid #fff;
    height: auto;
    font-size: 2em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organiser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.organiser-img {
    height: 300px;
    width: 300px;
    border-radius: 360px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgb(75, 255, 255);
    border: 2px solid #fff;
    margin: 10px;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: rgba(3, 0, 25, 0.7);
    box-shadow: 0 0 20px rgb(75, 255, 255), 0 0 20px rgb(75, 255, 255) inset;
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.footer-img {
    height: 100%;
    width: auto;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgb(75, 255, 255);
    border: 2px solid #fff;
}

/*sign in form*/

/*link don't work for now, might be active in the future*/

.form {
    display: flex;
    justify-content: center;
}

.myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(25, 0, 50, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgb(255, 255, 75), 0 0 20px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 500px;
}

.input_group {
    margin: 10px 0;
}

input[type="text"],
input[type="password"],
textarea {
    background-color: rgba(50, 0, 50, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px;
    color: rgb(255, 165, 255);
    text-shadow: 0 0 5px rgb(255, 80, 255);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: rgb(255, 255, 180);
}

input[type="radio"] {
    display: none;
    accent-color: rgb(255, 255, 180);
    filter: drop-shadow(0 0 5px rgb(255, 255, 75));
    background: rgba(50, 0, 50, 0.5);
}

.input_inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.neon-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(50, 0, 50, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
    margin-right: 8px;
    position: relative;
}

.neon-input::after {
    display: none;
    content: "";
    position: absolute;
    left: 5px;
    width: 6px;
    height: 12px;
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input_inner input {
    display: none;
}

.input_inner input:checked+.neon-input::after {
    display: block;
}

input[type="submit"] {
    background-color: rgba(50, 0, 50, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
    padding: 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 75, 255), 0 0 5px rgb(255, 75, 255) inset;
    border: 2px solid rgb(255, 100, 255);
    color: rgb(255, 200, 255);
    text-shadow: 0 0 5px rgb(255, 75, 255);
}

select {
    background-color: rgba(50, 0, 50, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
    padding: 5px;
}

option {
    background-color: rgba(26, 0, 26, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 75), 0 0 5px rgb(255, 255, 75) inset;
    border: 2px solid #fff;
}

/*mobile adaptation*/

@media screen and (max-width:800px) {
    .navigation {
        padding: 0;
    }

    .link-box {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgba(3, 0, 25, 0.7);
        backdrop-filter: blur(10px);
        z-index: 9999;
        height: 100%;
        top: 0;
        right: -500px;
        width: 40%;
        transition: right 0.6s;
    }

    .link-box.active {
        right: 0;
    }

    .fa-bars {
        display: block;
        font-size: 2rem;
    }

    #header-btn {
        display: block;
        background-color: transparent;
        border: none;
    }

    .buttons {
        gap: calc(5vw - 5px);
    }

    .category-title {
        width: calc(21vw - 5px);
        font-size: calc(5vw - 12px);
        margin: 20px 0;
    }

    .category1.active {
        max-height: 6000px;
    }

    .dish {
        flex-direction: column-reverse;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

    .dish-image {
        width: 100%;
        height: auto;
    }

    .number {
        font-size: 0.7em;
        margin-bottom: 10px;
    }

    .number-card {
        width: calc(30vw - 5px);
        font-size: 0.8em;
        text-align: center;
    }

    .media-title {
        width: 40vw;
        height: auto;
        font-size: 0.8em;
        text-align: center;
    }

    .media-card {
        font-size: 10vw;
    }

    .footer {
        font-size: 0.8em;
        text-align: center;
    }
}